<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85bc9a">  <td>20/10/05 22:10:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseclassWeb.setup()[pri:0, instance:com.web.clear360.testcase.StudentsUploadcsvTest@6b9651f3]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1543974463</td>   <td></td> </tr>
<tr bgcolor="61eaf6">  <td>20/10/05 22:11:16</td>   <td>26717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentsUploadcsvTest.uploadfile()[pri:0, instance:com.web.clear360.testcase.StudentsUploadcsvTest@6b9651f3]">uploadfile</td> 
  <td>main@1543974463</td>   <td></td> </tr>
</table>
