<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d56173">  <td>20/09/29 12:02:53</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Login.Browser()[pri:0, instance:Web.Clear360.Login@6acdbdf5]">&gt;&gt;Browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@951880373</td>   <td></td> </tr>
<tr bgcolor="d56173">  <td>20/09/29 12:02:59</td>   <td>5752</td> <td>&nbsp;</td><td title="&lt;&lt;Login.closeBrowser()[pri:0, instance:Web.Clear360.Login@6acdbdf5]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="d56173">  <td>20/09/29 12:02:59</td>   <td>5723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.createdept_validvalues()[pri:1, instance:Web.Clear360.Login@6acdbdf5]">createdept_validvalues</td> 
  <td>main@951880373</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>20/09/29 12:02:59</td>   <td>5743</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Uploadcsv.uploadfile()[pri:0, instance:Web.Clear360.Uploadcsv@4b1c1ea0]">uploadfile</td> 
  <td>main@951880373</td>   <td></td> </tr>
<tr bgcolor="d56173">  <td>20/09/29 12:02:59</td>   <td>5703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.validLogin()[pri:0, instance:Web.Clear360.Login@6acdbdf5]">validLogin</td> 
  <td>main@951880373</td>   <td></td> </tr>
</table>
